In [1]:
%run ../__init__.py

In [2]:
budget = pd.read_csv('../data/school_budget_train.csv')

In [3]:
budget_df = pd.DataFrame(budget)

budget_df.head()

,Unnamed: 0,Function,Use,Sharing,Reporting,Student_Type,Position_Type,Object_Type,Pre_K,Operating_Status,...,Sub_Object_Description,Location_Description,FTE,Function_Description,Facility_or_Department,Position_Extra,Total,Program_Description,Fund_Description,Text_1
0,134338,Teacher Compensation,Instruction,School Reported,School,NO_LABEL,Teacher,NO_LABEL,NO_LABEL,PreK-12 Operating,...,NaN,NaN,1.0,NaN,NaN,KINDERGARTEN,50471.810,KINDERGARTEN,General Fund,NaN
1,206341,NO_LABEL,NO_LABEL,NO_LABEL,NO_LABEL,NO_LABEL,NO_LABEL,NO_LABEL,NO_LABEL,Non-Operating,...,NaN,NaN,NaN,RGN GOB,NaN,UNDESIGNATED,3477.860,BUILDING IMPROVEMENT SERVICES,NaN,BUILDING IMPROVEMENT SERVICES
2,326408,Teacher Compensation,Instruction,School Reported,School,Unspecified,Teacher,Base Salary/Compensation,Non PreK,PreK-12 Operating,...,NaN,NaN,1.0,NaN,NaN,TEACHER,62237.130,Instruction - Regular,General Purpose School,NaN
3,364634,Substitute Compensation,Instruction,School Reported,School,Unspecified,Substitute,Benefits,NO_LABEL,PreK-12 Operating,...,NaN,NaN,NaN,UNALLOC BUDGETS/SCHOOLS,NaN,PROFESSIONAL-INSTRUCTIONAL,22.300,GENERAL MIDDLE/JUNIOR HIGH SCH,NaN,REGULAR INSTRUCTION
4,47683,Substitute Compensation,Instruction,School Reported,School,Unspecified,Teacher,Substitute Compensation,NO_LABEL,PreK-12 Operating,...,NaN,NaN,NaN,NON-PROJECT,NaN,PROFESSIONAL-INSTRUCTIONAL,54.166,GENERAL HIGH SCHOOL EDUCATION,NaN,REGULAR INSTRUCTION

In [4]:
budget_df.columns = ['ID' if x=='Unnamed: 0' else x for x in budget_df.columns]

In [5]:
budget_df.shape

(400277, 26)

In [6]:
budget_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400277 entries, 0 to 400276
Data columns (total 26 columns):
ID                        400277 non-null int64
Function                  400277 non-null object
Use                       400277 non-null object
Sharing                   400277 non-null object
Reporting                 400277 non-null object
Student_Type              400277 non-null object
Position_Type             400277 non-null object
Object_Type               400277 non-null object
Pre_K                     400277 non-null object
Operating_Status          400277 non-null object
Object_Description        375493 non-null object
Text_2                    88217 non-null object
SubFund_Description       306855 non-null object
Job_Title_Description     292743 non-null object
Text_3                    179964 non-null object
Text_4                    53746 non-null object
Sub_Object_Description    91603 non-null object
Location_Description      162054 non-null object
FTE                       126071 non-null float64
Function_Description      342195 non-null object
Facility_or_Department    53886 non-null object
Position_Extra            264764 non-null object
Total                     395722 non-null float64
Program_Description       304660 non-null object
Fund_Description          202877 non-null object
Text_1                    292285 non-null object
dtypes: float64(2), int64(1), object(23)
memory usage: 79.4+ MB

In [7]:
targets = ['Function', 'Use', 'Sharing', 'Reporting', 'Student_Type',
       'Position_Type', 'Object_Type', 'Pre_K', 'Operating_Status']

In [8]:
predictors = [col for col in budget_df.columns if col not in targets]
word_predictors = ['Object_Description','Text_2','SubFund_Description','Job_Title_Description','Text_3','Text_4',
                   'Sub_Object_Description','Location_Description','Function_Description','Facility_or_Department','Position_Extra',
                   'Program_Description','Fund_Description','Text_1']

num_predictors = ['FTE', 'Total']

In [9]:
predictors

['ID',
 'Object_Description',
 'Text_2',
 'SubFund_Description',
 'Job_Title_Description',
 'Text_3',
 'Text_4',
 'Sub_Object_Description',
 'Location_Description',
 'FTE',
 'Function_Description',
 'Facility_or_Department',
 'Position_Extra',
 'Total',
 'Program_Description',
 'Fund_Description',
 'Text_1']

### Change label columns, append category names to labels

In [10]:
for col in budget_df[targets]:
    budget_df[col] = str(col)+'__'+ budget_df[col].astype(str)

In [11]:
budget_df[targets].head()

,Function,Use,Sharing,Reporting,Student_Type,Position_Type,Object_Type,Pre_K,Operating_Status
0,Function__Teacher Compensation,Use__Instruction,Sharing__School Reported,Reporting__School,Student_Type__NO_LABEL,Position_Type__Teacher,Object_Type__NO_LABEL,Pre_K__NO_LABEL,Operating_Status__PreK-12 Operating
1,Function__NO_LABEL,Use__NO_LABEL,Sharing__NO_LABEL,Reporting__NO_LABEL,Student_Type__NO_LABEL,Position_Type__NO_LABEL,Object_Type__NO_LABEL,Pre_K__NO_LABEL,Operating_Status__Non-Operating
2,Function__Teacher Compensation,Use__Instruction,Sharing__School Reported,Reporting__School,Student_Type__Unspecified,Position_Type__Teacher,Object_Type__Base Salary/Compensation,Pre_K__Non PreK,Operating_Status__PreK-12 Operating
3,Function__Substitute Compensation,Use__Instruction,Sharing__School Reported,Reporting__School,Student_Type__Unspecified,Position_Type__Substitute,Object_Type__Benefits,Pre_K__NO_LABEL,Operating_Status__PreK-12 Operating
4,Function__Substitute Compensation,Use__Instruction,Sharing__School Reported,Reporting__School,Student_Type__Unspecified,Position_Type__Teacher,Object_Type__Substitute Compensation,Pre_K__NO_LABEL,Operating_Status__PreK-12 Operating

In [12]:
categorize_label = lambda x: x.astype('category')
budget_df[targets] = budget_df[targets].apply(categorize_label, axis=0)

In [13]:
budget_df.dtypes

ID                           int64
Function                  category
Use                       category
Sharing                   category
Reporting                 category
Student_Type              category
Position_Type             category
Object_Type               category
Pre_K                     category
Operating_Status          category
Object_Description          object
Text_2                      object
SubFund_Description         object
Job_Title_Description       object
Text_3                      object
Text_4                      object
Sub_Object_Description      object
Location_Description        object
FTE                        float64
Function_Description        object
Facility_or_Department      object
Position_Extra              object
Total                      float64
Program_Description         object
Fund_Description            object
Text_1                      object
dtype: object

### Fill NaN values with empty strings

In [14]:
budget_df[predictors].isnull().sum().sort_values()

ID                             0
Total                       4555
Object_Description         24784
Function_Description       58082
SubFund_Description        93422
Program_Description        95617
Job_Title_Description     107534
Text_1                    107992
Position_Extra            135513
Fund_Description          197400
Text_3                    220313
Location_Description      238223
FTE                       274206
Sub_Object_Description    308674
Text_2                    312060
Facility_or_Department    346391
Text_4                    346531
dtype: int64

In [15]:
for col in budget_df[word_predictors]:
    budget_df[col] = budget_df[word_predictors].loc[:,[col]].fillna(' ')

In [16]:
budget_df[predictors].isnull().sum()

ID                             0
Object_Description             0
Text_2                         0
SubFund_Description            0
Job_Title_Description          0
Text_3                         0
Text_4                         0
Sub_Object_Description         0
Location_Description           0
FTE                       274206
Function_Description           0
Facility_or_Department         0
Position_Extra                 0
Total                       4555
Program_Description            0
Fund_Description               0
Text_1                         0
dtype: int64

In [17]:
budget_df.describe()

                  ID            FTE         Total
count  400277.000000  126071.000000  3.957220e+05
mean   225186.018537       0.426794  1.310586e+04
std    130025.142718       0.573576  3.682254e+05
min         2.000000      -0.087551 -8.746631e+07
25%    112601.000000       0.000792  7.379770e+01
50%    225243.000000       0.130927  4.612300e+02
75%    337722.000000       1.000000  3.652662e+03
max    450340.000000      46.800000  1.297000e+08

In [18]:
plt.figure(1, figsize=(7,5))
_ = sns.distplot(budget_df['Total'].dropna())

In [19]:
plt.figure(1, figsize=(7,5))
_ = sns.distplot(budget_df['FTE'].dropna())

## Figure out what to do with NaN values for numerical columns

## Data processesing with word predictor columns

In [20]:
for col in budget_df[word_predictors]:
    budget_df[col] = budget_df[col].str.lower()

In [21]:
budget_df[word_predictors].head(10)

,Object_Description,Text_2,SubFund_Description,Job_Title_Description,Text_3,Text_4,Sub_Object_Description,Location_Description,Function_Description,Facility_or_Department,Position_Extra,Program_Description,Fund_Description,Text_1
0,,,,teacher-elementary,,,,,,,kindergarten,kindergarten,general fund,
1,contractor services,bond expenditures,building fund,(blank),regular,,,,rgn gob,,undesignated,building improvement services,,building improvement services
2,personal services - teachers,,,tcher 2nd grade,,regular instruction,,,,,teacher,instruction - regular,general purpose school,
3,employee benefits,teacher subs,general fund,"teacher, short term sub",regular,,,,unalloc budgets/schools,,professional-instructional,general middle/junior high sch,,regular instruction
4,teacher coverage for teacher,teacher subs,general fund,"teacher, secondary (high)",alternative,,,,non-project,,professional-instructional,general high school education,,regular instruction
5,contra benefits,,general fund,custodian - pt - jobs,n/a,,,,non-project,,undesignated,employee benefits,,employee benefits
6,educational,special education instruction,local,,,,,,,,supplies and materials,special education local,local fund,
7,employee benefits,,general fund,"sub manager, food service",n/a,,,district wide organization uni,non-project,,undesignated,undesignated,,undesignated
8,employee benefits,,general fund,"teacher, elementary",regular,,,,ela s - teaching spanish only,,professional-instructional,general elementary education,,regular instruction
9,employee benefits,teacher subs,general fund,"teacher,retrd shrt term sub",regular,,,,unalloc budgets/schools,,professional-instructional,general elementary education,,regular instruction

In [22]:
def cleaner(text):
    text = re.sub('[\W]',' ',text)
    text = re.sub("\\s+", " ", text)
    return text

In [23]:
for col in budget_df[word_predictors]:
    budget_df[col] = budget_df[col].apply(cleaner)

In [24]:
budget_df[word_predictors].head()

,Object_Description,Text_2,SubFund_Description,Job_Title_Description,Text_3,Text_4,Sub_Object_Description,Location_Description,Function_Description,Facility_or_Department,Position_Extra,Program_Description,Fund_Description,Text_1
0,,,,teacher elementary,,,,,,,kindergarten,kindergarten,general fund,
1,contractor services,bond expenditures,building fund,blank,regular,,,,rgn gob,,undesignated,building improvement services,,building improvement services
2,personal services teachers,,,tcher 2nd grade,,regular instruction,,,,,teacher,instruction regular,general purpose school,
3,employee benefits,teacher subs,general fund,teacher short term sub,regular,,,,unalloc budgets schools,,professional instructional,general middle junior high sch,,regular instruction
4,teacher coverage for teacher,teacher subs,general fund,teacher secondary high,alternative,,,,non project,,professional instructional,general high school education,,regular instruction

In [44]:
unique_values = []
for col in budget_df[word_predictors]:
    unique_vals = budget_df[col].nunique()
    unique_values.append({'column_name': col,
                        'unique_vals': unique_vals})

In [46]:
pd.DataFrame(unique_values)

               column_name  unique_vals
0       Object_Description          586
1                   Text_2          282
2      SubFund_Description          268
3    Job_Title_Description         3327
4                   Text_3           36
5                   Text_4          241
6   Sub_Object_Description          167
7     Location_Description          353
8     Function_Description          653
9   Facility_or_Department          176
10          Position_Extra          503
11     Program_Description          419
12        Fund_Description          141
13                  Text_1         1405

In [64]:
def value_counts(col):
    counts = budget_df[col].value_counts()
    percent = budget_df[col].value_counts(normalize=True)
    return pd.DataFrame({'counts': counts, 
                         'percent': percent})

In [67]:
Object_Description = value_counts('Object_Description')
Text_2 = value_counts('Text_2')
SubFund_Description = value_counts('SubFund_Description')
Job_Title_Description = value_counts('Job_Title_Description')
Text_3 = value_counts('Text_3')
Text_4 = value_counts('Text_4')
Sub_Object_Description = value_counts('Sub_Object_Description')
Location_Description = value_counts('Location_Description')
Function_Description = value_counts('Function_Description')
Facility_or_Department = value_counts('Facility_or_Department')
Position_Extra = value_counts('Position_Extra')
Program_Description = value_counts('Program_Description')
Fund_Description = value_counts('Fund_Description')
Text_1 = value_counts('Text_1')

In [93]:
Object_Description.head(20)

                                                    counts   percent
employee benefits                                    47495  0.118655
salaries of part time employee                       31761  0.079348
                                                     24784  0.061917
salaries of regular employees                        24319  0.060755
contra benefits                                      19381  0.048419
salaries and wages for teachers and other professi   18632  0.046548
additional extra duty pay stip                       16841  0.042073
supplies                                             13117  0.032770
retirement contrib                                   13073  0.032660
regular                                               9270  0.023159
extra duty pay overtime for support personnel         9159  0.022882
employer pd med contribution                          8617  0.021528
other personal services                               8328  0.020806
personal services teachers                            7685  0.019199
personal services substitute teachers certified       7254  0.018122
salaries and wages for substitute professionals       6672  0.016668
general supplies                                      6051  0.015117
salaries or wages for support personnel               5890  0.014715
supplies                                              3539  0.008841
bonuses                                               3369  0.008417

In [95]:
Text_2.head(20)

                               counts   percent
                               312060  0.779610
teacher subs                    16599  0.041469
food services                    5871  0.014667
general education                4251  0.010620
transportation                   3945  0.009856
custodial schools                3860  0.009643
teacher learning leadership      2878  0.007190
teacher                          2710  0.006770
severe disabilities              2610  0.006520
maintenance                      2483  0.006203
afterschool programs             2264  0.005656
adult voc ed opportunity         2170  0.005421
math science                     1919  0.004794
athletics                        1669  0.004170
unassigned pers paid leaves      1560  0.003897
early education                  1485  0.003710
humanities                       1337  0.003340
special education instruction    1208  0.003018
bond expenditures                1170  0.002923
grants management                1016  0.002538

In [96]:
SubFund_Description.head(20)

                                         counts   percent
general fund                             123327  0.308104
                                          93422  0.233393
operations                                26895  0.067191
federal gdpg fund fy                      13562  0.033882
support services instructional staff      10238  0.025577
special instruction                       10106  0.025248
district special revenue funds             9975  0.024920
local                                      9393  0.023466
arra stimulus                              7458  0.018632
community services                         7386  0.018452
 mill levy                                 5964  0.014900
food service fund                          5810  0.014515
miscellaneous                              5649  0.014113
 title part a improving basic programs     5260  0.013141
primary grades program                     4379  0.010940
itemgd preschool program                   3584  0.008954
levy override                              3267  0.008162
regular instruction                        3071  0.007672
child nutrition                            2558  0.006391
state ed allotment                         2427  0.006063

In [97]:
Job_Title_Description.head(20)

                                counts   percent
                                107541  0.268666
teacher elementary               32834  0.082028
teacher short term sub           23450  0.058584
 blank                           15235  0.038061
teacher secondary high            8994  0.022469
teacher retrd shrt term sub       8746  0.021850
teacher regular                   8517  0.021278
teacher substitute pool           7115  0.017775
sub teacher all                   7018  0.017533
teacher secondary middle          6912  0.017268
teacher                           5224  0.013051
teacher super sub d d             3704  0.009254
transportation bus drivers reg    3342  0.008349
food service worker ii            2729  0.006818
teacher spec ed center prg        2368  0.005916
early childhood education         2297  0.005739
cafeteria employee food serv      1917  0.004789
elementary spec ed para           1913  0.004779
teacher intervention              1909  0.004769
custodial helper day              1887  0.004714

In [98]:
Text_3.head(20)

                                    counts   percent
                                    220313  0.550401
regular                              94462  0.235992
n a                                  70812  0.176907
turnaround                            7755  0.019374
alternative                           5299  0.013238
charter                                664  0.001659
new closed schl                        623  0.001556
other materials and supplies            60  0.000150
supplies for instruction                42  0.000105
employee travel                         41  0.000102
staff development                       39  0.000097
professional and contract services      36  0.000090
equipment for operations                27  0.000067
other services                          26  0.000065
communication and it related            22  0.000055
allocations to schools                  10  0.000025
indirect costs                           8  0.000020
equipment for instruction                7  0.000017
insurance related expenses               5  0.000012
textbooks                                4  0.000010

In [99]:
Text_4.head(20)

                                                counts   percent
                                                346531  0.865728
regular instruction                              10762  0.026886
basic educational services district objective     9481  0.023686
undistributed                                     7106  0.017753
special education instruction                     2892  0.007225
regular salary                                    2157  0.005389
regular instructional support                     1899  0.004744
transportation second runs                        1852  0.004627
transportation bus drivers                        1257  0.003140
office of principal                               1072  0.002678
idea part b                                       1063  0.002656
title i teachers                                   827  0.002066
career technical instruction                       779  0.001946
operation of plant                                 648  0.001619
race to the top                                    565  0.001412
education jobs program                             527  0.001317
extra duty                                         454  0.001134
teacher advancement program tap                    358  0.000894
idea part b                                        320  0.000799
teacher induction                                  315  0.000787

In [100]:
Sub_Object_Description.head(20)

                                                    counts   percent
                                                    308674  0.771151
extra duty pay overtime for support personnel         9159  0.022882
certificated employees salaries and wages             8724  0.021795
salaries and wages for teachers and other professi    7285  0.018200
salaries and wages for substitute teachers            6327  0.015807
general supplies                                      5833  0.014572
salaries or wages for support personnel               4824  0.012052
supplies and materials                                3273  0.008177
extended day                                          3045  0.007607
extra duty wages                                      2730  0.006820
purchased services                                    2534  0.006331
professional and technical services                   2393  0.005978
general supplies                                      2280  0.005696
personal services employees salaries and wages        2260  0.005646
non certificated salaries and wages                   2031  0.005074
extended week                                         1828  0.004567
extended year                                         1545  0.003860
equipment                                             1538  0.003842
critical needs incentive                              1531  0.003825
textbooks                                             1283  0.003205

In [101]:
Location_Description.head(20)

                             counts   percent
                             238223  0.595145
school                        65524  0.163697
admin services                 7749  0.019359
unallocated                    6005  0.015002
special education              5485  0.013703
undistributed                  5309  0.013263
district wide resources        3626  0.009059
opportunity school             3044  0.007605
transportation                 2788  0.006965
teacher learning leadership    2482  0.006201
summer school                  2339  0.005843
garage                         2279  0.005694
charter                        2126  0.005311
math science                   2123  0.005304
transportation                 2079  0.005194
personnel paid leave           1981  0.004949
maintenance                    1782  0.004452
food and nutrition services    1521  0.003800
all schools undistributed      1519  0.003795
humanities                     1426  0.003563

In [102]:
Function_Description.head(20)

                                                  counts   percent
non project                                        76890  0.192092
                                                   58082  0.145105
instruction                                        39932  0.099761
unalloc budgets schools                            16616  0.041511
basic fefp k 12                                    13317  0.033269
employee retirement                                13073  0.032660
disadvantaged youth                                 7814  0.019521
ela e teaching sheltered eng                        6311  0.015767
instruction and curriculum development services     6043  0.015097
inst staff training svcs                            4957  0.012384
transportation                                      4325  0.010805
title i a arra                                      4009  0.010016
exceptional                                         3991  0.009971
other community services                            3928  0.009813
title i                                             3663  0.009151
improvement of instr serv                           3603  0.009001
non public school services                          3455  0.008632
special ed mild moderate                            3361  0.008397
extracurricular activities                          3302  0.008249
facilities maintenance and operations               3270  0.008169

In [103]:
Facility_or_Department.head(20)

                                       counts   percent
                                       346391  0.865378
all campus payroll                      17697  0.044212
instruction and curriculum              14537  0.036317
transportation department                5542  0.013845
child nutrition                          3405  0.008507
custodial department                     2173  0.005429
athletic department                       773  0.001931
finance department                        474  0.001184
writing teams                             438  0.001094
performing arts department                384  0.000959
using data human capital decis            375  0.000937
security                                  319  0.000797
substitute teacher                        302  0.000754
instructional coaching                    276  0.000690
maintenance department administration     272  0.000680
security department                       269  0.000672
special programs                          263  0.000657
vocational                                258  0.000645
campus overtime                           257  0.000642
gifted and talented                       247  0.000617

In [104]:
Position_Extra.head(20)

                               counts   percent
                               135513  0.338548
professional instructional      92136  0.230181
undesignated                    48273  0.120599
crafts trades and services      13015  0.032515
paraprofessional                12639  0.031576
teacher bachelor                11875  0.029667
substitute teacher               9622  0.024038
office administrative support    6437  0.016081
professional other               5842  0.014595
teacher master                   5114  0.012776
bus driver                       4962  0.012396
teacher                          3924  0.009803
administrator                    3471  0.008671
time card certifiedaddl          3171  0.007922
degreed substitute               2868  0.007165
certified substitute             2590  0.006471
career ladder i ext learning     1627  0.004065
non degreed substitute           1477  0.003690
any cus who is not a super       1326  0.003313
reg food service worker          1189  0.002970

In [105]:
Program_Description.head(20)

                                                    counts   percent
                                                     95617  0.238877
general elementary education                         32829  0.082016
employee benefits                                    32669  0.081616
instructional staff training                         21521  0.053765
undistributed                                        18547  0.046335
instruction regular                                  13825  0.034539
misc                                                 13143  0.032835
general high school education                        10625  0.026544
basic educational services                           10593  0.026464
 title i part a schoolwide activities related t...    8520  0.021285
general middle junior high sch                        7179  0.017935
primary grades program                                5935  0.014827
general k 8 education                                 5907  0.014757
food preparation serving                              5646  0.014105
support services instructional                        5564  0.013900
support services school admin                         5138  0.012836
care upkeep of bldg services                          5049  0.012614
early childhood                                       5029  0.012564
services to students with disabilities special ...    4657  0.011634
instruction sped                                      4534  0.011327

In [106]:
Fund_Description.head(20)

                                                    counts   percent
                                                    197400  0.493158
general operating fund                               33467  0.083610
general fund                                         29036  0.072540
general fund                                         28176  0.070391
general purpose school                               20333  0.050797
title i disadvantaged children targeted assistance   19967  0.049883
general                                               7877  0.019679
 title part a improving basic programs                6885  0.017201
special trust                                         6335  0.015827
school federal projects                               5424  0.013551
fed thru state cash advance                           3544  0.008854
national school breakfast and lunch program           3405  0.008507
school nutrition service fund                         2538  0.006341
conversion charter schools                            2264  0.005656
campus activity funds                                 2241  0.005599
local fund                                            2202  0.005501
food services                                         1780  0.004447
title i                                               1684  0.004207
capital projects fund                                 1617  0.004040
schoolwide schools                                    1614  0.004032

In [114]:
Text_1.head(20)

                               counts   percent
                               108076  0.270003
regular instruction             64896  0.162128
employee benefits               32669  0.081616
instructional staff             30592  0.076427
regular pay                     18609  0.046490
special education                9778  0.024428
operation and maint of plant     9161  0.022887
food services operations         5857  0.014632
school administration            5575  0.013928
students                         4864  0.012152
central                          4858  0.012137
miscellaneous                    4674  0.011677
school based management          4277  0.010685
student transportation           4040  0.010093
extended days                    3452  0.008624
overtime                         2881  0.007198
title i                          2872  0.007175
addl regular pay not smoothed    2713  0.006778
teacher lead                     2450  0.006121
esea title i                     2434  0.006081

In [109]:
budget_df['combined_text'] = budget_df[word_predictors].apply(lambda x: " ".join(x), axis=1)

In [111]:
budget_df['combined_text'].nunique()

51230

In [112]:
combined_text = value_counts('combined_text')

In [113]:
combined_text

                                                    counts   percent
contra benefits   general fund teacher elementa...    4130  0.010318
salaries of part time employee teacher subs gen...    3578  0.008939
personal services substitute teachers certified...    3269  0.008167
supplies   primary grades program            in...    3140  0.007845
employee benefits teacher subs general fund tea...    2951  0.007372
other personal services      sub teacher all   ...    2549  0.006368
salaries of part time employee   general fund t...    2374  0.005931
employee benefits   general fund teacher short ...    2270  0.005671
retirement contrib    general fund teacher elem...    2032  0.005076
                                                      1874  0.004682
salaries of regular employees   general fund te...    1626  0.004062
employee benefits   general fund teacher elemen...    1566  0.003912
salaries and wages for teachers and other profe...    1514  0.003782
contra benefits   general fund teacher secondar...    1388  0.003468
salaries and wages for substitute professionals...    1245  0.003110
  afterschool programs summer ed arts sports se...    1242  0.003103
supplies   high school general ed program 9 12 ...    1223  0.003055
other personal services      sub teacher all   ...    1190  0.002973
  general education local teacher              ...    1165  0.002910
salaries of part time employee teacher subs gen...    1141  0.002851
purchase of equipment other than buses and comp...    1125  0.002811
salaries and wages for substitute professionals...    1057  0.002641
supplies   middle school program 6 8           ...    1048  0.002618
books other than textbooks and periodicals   me...    1016  0.002538
salaries of part time employee food services fo...    1009  0.002521
contra benefits   general fund teacher secondar...     993  0.002481
personal services substitute teachers certified...     986  0.002463
salaries of part time employee teacher subs gen...     973  0.002431
employee benefits teacher subs general fund tea...     911  0.002276
supplies   media centers           educational ...     816  0.002039
...                                                    ...       ...
  general education local teacher bus ed       ...       1  0.000002
electricity              exec dir info instruc ...       1  0.000002
facility empac maint materials maintenance gene...       1  0.000002
salaries for overtime   risk related activity f...       1  0.000002
general supplies   federal gdpg fund  blank  tu...       1  0.000002
reading materials gifted and talented         r...       1  0.000002
additional extra duty pay stip   general fund p...       1  0.000002
additional extra duty pay stip   risk related a...       1  0.000002
retirement contrib    general fund network tech...       1  0.000002
additional extra duty pay stip   general fund e...       1  0.000002
non capital equipment adult voc ed opportunity ...       1  0.000002
non capital equipment   general fund  blank  re...       1  0.000002
salaries or wages for support personnel   opera...       1  0.000002
additional extra duty pay stip   general fund t...       1  0.000002
salaries of part time employee   arra stimulus ...       1  0.000002
general supplies           postage school  scho...       1  0.000002
employee benefits severe disabilities general f...       1  0.000002
extra duty pay overtime for support personnel  ...       1  0.000002
equipment    support services administration   ...       1  0.000002
  special education instruction local education...       1  0.000002
extra duty pay overtime for support personnel  ...       1  0.000002
postage   special instruction       communicati...       1  0.000002
personal services other personnel     education...       1  0.000002
salaries of part time employee teacher subs gen...       1  0.000002
employer pd med contribution   arra stimulus fa...       1  0.000002
testing materials           testing materials s...       1  0.000002
additional extra duty pay stip humanities feder...       1  0.000002
extra duty pay overtime for support personnel  ...       1  0.000002
reading materials           manuals nov paperba...       1  0.000002
graduation coach     graduation coach specialis...       1  0.000002

[51230 rows x 2 columns]

In [28]:
budget_df.to_csv('../data/budget_df_cleaned.csv')