In [1]:
%run ../__init__.py

In [2]:
targets

['Function',
 'Use',
 'Sharing',
 'Reporting',
 'Student_Type',
 'Position_Type',
 'Object_Type',
 'Pre_K',
 'Operating_Status']

In [2]:
budget_test = pd.read_csv('../data/budget_test.csv')

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (5,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
budget_test.head()

,Unnamed: 0,Object_Description,Program_Description,SubFund_Description,Job_Title_Description,Facility_or_Department,Sub_Object_Description,Location_Description,FTE,Function_Description,Position_Extra,Text_4,Total,Text_2,Text_3,Fund_Description,Text_1
0,180042,Student Meals/Room/Other,Basic Educational Services,NaN,NaN,NaN,Line Item that is paid with Campus' money,School,NaN,Instruction,NaN,NaN,3999.910000,NaN,NaN,General Fund,NaN
1,28872,Extra Duty/Signing Bonus Pay,Undistributed,NaN,CHEERLEADER DIR,NaN,General,School,NaN,Cocurricular & Extra Curricular Activities,NaN,NaN,3447.320213,NaN,NaN,General Fund,NaN
2,186915,Professional Salaries,Bilingual Education,NaN,T-EL 1ST BIL,NaN,General,School,1.0,Instruction,NaN,NaN,52738.780869,NaN,NaN,General Fund,NaN
3,412396,Professional Salaries,Bilingual Education,NaN,T-EL 2ND BIL,NaN,General,School,1.0,Instruction,NaN,NaN,69729.263191,NaN,NaN,General Fund,NaN
4,427740,Salaries for Support Personnel,Undistributed,NaN,CLERK III- SCH,NaN,General,School,1.0,School Leadership,NaN,NaN,29492.834215,NaN,NaN,General Fund,NaN

In [4]:
Function = pd.read_csv('../ipynb/func_proba.csv', index_col=0)
Use = pd.read_csv('../ipynb/use_proba.csv', index_col=0)
Sharing = pd.read_csv('../ipynb/sharing_proba.csv', index_col=0)
Reporting = pd.read_csv('../ipynb/reporting_proba.csv', index_col=0)
Student_Type = pd.read_csv('../ipynb/student_proba.csv', index_col=0)
Position_Type = pd.read_csv('../ipynb/pos_proba.csv', index_col=0)
Object_Type = pd.read_csv('../ipynb/object_proba.csv', index_col=0)
Pre_K = pd.read_csv('../ipynb/pre_k_proba.csv', index_col=0)
Operating_Status = pd.read_csv('../ipynb/op_stat_proba.csv', index_col=0)

In [5]:
results = pd.concat([budget_test, Function, Object_Type, Operating_Status, Position_Type, Pre_K, Reporting,\
                     Sharing, Student_Type, Use], axis = 1)

In [6]:
results.shape

(50064, 121)

In [7]:
results = results.drop(predictors, axis=1)

In [8]:
results.shape

(50064, 105)

In [10]:
results.to_csv('submission2.csv')