In [2]:
%run ../__init__.py

In [6]:
budget_df= pd.read_csv('../data/budget_df_cleaned1.csv')

In [72]:
from collections import Counter

result = Counter(" ".join(budget_df['combined_text'].astype(str)).split(" ")).items()

word_count = pd.DataFrame(list(result), columns=['word','counts'])

word_count = word_count.sort_values('word')

In [73]:
word_count.shape

(3352, 2)

In [74]:
words = word_count[word_count['counts'] < 10]

In [75]:
words_10 = word_count[word_count['counts'] > 10]

In [76]:
word_predictors

['Object_Description',
 'Text_2',
 'SubFund_Description',
 'Job_Title_Description',
 'Text_3',
 'Text_4',
 'Sub_Object_Description',
 'Location_Description',
 'Function_Description',
 'Facility_or_Department',
 'Position_Extra',
 'Program_Description',
 'Fund_Description',
 'Text_1']

In [77]:
text_1 = Counter(" ".join(budget_df['Object_Description'].astype(str)).split(" ")).items()

In [78]:
text_1 = pd.DataFrame(list(text_1), columns=['word','counts'])

In [82]:
text_1.shape

(503, 2)

In [83]:
text_1 = text_1.sort_values('word')

In [85]:
text_1 = text_1[text_1['counts'] > 10]

In [86]:
text_1

               word  counts
0                     49690
303           accnt      70
246         account      25
223      accountant      93
268            acct      92
211     acquisition     192
289        activity      97
35       additional   16872
234  administrative     288
276   administrator     189
192           adult     182
175     advertising      92
314            aide      19
138       allowance     715
239            apps      55
304           asset      37
49        assistant    2891
133        athletic     436
203        attorney      31
188              av      85
98            award     879
392          behalf      14
6           benefit   67030
96             bind     297
242           bldgs     160
279            bond      31
358         bonding      34
24            bonus    3371
54             book    3533
224      bookkeeper      93
..              ...     ...
323            term      19
163        terminal     313
332            test      23
79          testing      93
156            text      68
55         textbook    2905
23             time   32712
355            tire      12
310           trade      22
263        training      26
312        transfer      38
338          transp      13
72   transportation    1336
20           travel    4293
127            trip     429
356            tube      12
292         tuition      53
204    unemployment      57
325            usda      67
195             use     139
58          utility     607
165        vacation     102
186         vehicle     392
219            vend      16
14             wage   34809
200           waste      93
92            water     599
261         webinar      22
250          worker     147
37         workshop    3268

[328 rows x 2 columns]